/* ==========================================================================
   Global styles
   ========================================================================== */

* {
    position: relative;
}

body, html {
    height: 100%;
    min-height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    color: white;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 5px;
    margin: 165px 0 25px 0;
    text-align: center;
    text-transform: uppercase;
}

.subheading {
    text-align: center;
    color: white;
    font-size: 15px;
    letter-spacing: 7px;
    margin-bottom: 60px;
    padding: 10px;
    text-transform: uppercase;
}

.button {
    background-color: rgba(255,255,255,0.4);
    border: 2px solid rgb(35,39,26);
    color: black;
    display: block;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding: 13px 0 13px 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease;
    width: 155px;
    }
    .button:hover {
        background-color: rgb(35,39,26);
        color: white;
    }


/* ==========================================================================
   Parallax
   ========================================================================== */

.paralax {
    }
    .paralax .container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    .parallax .background {
        background-position: bottom center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
        width: 100%;
    }

/* ==========================================================================
   Section-specific styling
   ========================================================================== */

#hello {
    }
    #hello .background {
        background-image:url('../img/cloudy-landscape.jpg')
    }
    #hello .content {
        position: fixed;
        margin-left: 5%;
        width: 90%;
    }

#about {
    }
    #about .background {
        background-color: white;
    }
    #about h1 {
        color: black;
        margin: 0px;
        font-size: 22px;
        padding-top: 30px;
        width: 82px;
        margin: 0 0 40px -41px;
        left: 50%;
        border-bottom: 3px solid black;
    }

.sticky-heading {
    background: rgba(255,255,255,0.9);
    width: 100%;
    z-index: 9999;
}
.sticky-wrapper {
    margin-bottom: 60px;
}

#quote {
    }
    #quote .background {
        background-color: gray;
        padding: 300px;
    }
    #quote .content {
        font-size: 80px;
    }


/* ==========================================================================
   Section-specific styling
   ========================================================================== */

#projects {
    padding: 60px 25px;
}

#projects .project {
    width: 33.33%; height: auto;
    overflow: hidden;
    float: left;
}

#projects .project .padding {
    padding: 0 25px;
}

#projects .project .image {
    margin-bottom: 10px;
    width: 100%; height: auto;
}

#projects .project .image a {
    width: 100%; height: auto;
    display: block;
    position: relative;
    overflow: hidden;
}

#projects .project .image img {
    display: block;
    width: 100%; height: auto;
}

#projects .project .image img.image-color {
    display: none;
    position: absolute;
    top: 0; left: 0;
    z-index: 100;
}

#projects .project .image:hover img.image-color {
    display: block;
}

